# Materials are The pdfs / presentation / labs for the 37th intake of the ITI
# Materials are +100MB You can find them in the links below or if they gone missing you can email me for a copy.
# 01- Agile Software Development (https://file-upload.com/1eh2s2azg909)
# 02- Apache Web Server (https://file-upload.com/d8y3u55frbbq)
# 03- Application Security Basics (https://file-upload.com/d3f7udr5njn2)
# 04- Bash Shell Scripts (https://file-upload.com/khrqqcgrdy4r)
# 05- Client Side Technologies (https://file-upload.com/2nkk13xr15pk)
# 06- Code of Conduct and Corporate Etiquette (https://file-upload.com/u57nj0yy83ke)
# 07- Communication Skills (https://file-upload.com/0d9ohn1g4ef1)
# 08- Computer Networks (https://file-upload.com/r4ausppn252r)
# 09- CSS Frameworks (https://file-upload.com/k2kffwnozg4k)
# 10- Data Structures _ Algorithms (https://file-upload.com/2xgacqj0mlob)
# 11- Database Fundamentals (https://file-upload.com/g3vw6co6o9id)
# 12- Design Patterns (https://file-upload.com/zirnfprzir68)
# 13- Django Framework (https://file-upload.com/2h2cd4abtu4a)
# 14- HTML5 _ CSS3 (https://file-upload.com/ctsc7jei27cw)
# 15- Innovative Thinking (https://file-upload.com/3qsr7sq6qzsp)
# 16- Interviewing Skills (https://file-upload.com/5jv4j1w8lce3)
# 17- Ionic 2 Cross Platform (https://file-upload.com/1jkdhcskq885)  
# 18- Object Oriented Programming (https://file-upload.com/vaj03pm8buj7)  
# 19- JavaScript Frameworks (https://file-upload.com/i62zcvqltjn2)  
# 20- JavaScript Libraries (https://file-upload.com/w4pyq0hqsmnc)  
# 21- Leadership Skills (https://file-upload.com/z3h9em47f1i6)  
# 22- Marketing (https://file-upload.com/49uimt7jth7n)  
# 23- MongoDB (https://file-upload.com/6gj7j6odtnwf)  
# 24- MySQL (https://file-upload.com/s9expdjfuz0g)  
# 25- NodeJS (https://file-upload.com/6bcqmyy6cbuw)  
# 26- Push & Pull Technologies (https://file-upload.com/m4puq992uj62)  
# 27- Python Programming (https://file-upload.com/3j3qy9a70btf)  
# 28- React JS (https://file-upload.com/lr0y8o4evke7)  
# 29- Red Hat System Administration I (https://file-upload.com/at1bsw6oyfjh)  
# 30- Red Hat System Administration II (https://file-upload.com/igqsbqjjc5ps)  
# 31- Ruby Programming (https://file-upload.com/v8epxk775cwk)  
# 32- Software Rapid Prototyping (https://file-upload.com/8o0fixjkacwg)  
# 33- Symfony - PHP Framework (https://file-upload.com/z42zlx13l59l)  
# 34- XML and Related Technologies (https://file-upload.com/bbtrp6tkulzw)  
# 35- Unit Testing (https://file-upload.com/hffrg5ss26yd)  
# 36- Version Control Systems (https://file-upload.com/el342tmflwd4)

/Material